<section
    class="rounded-lg absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[100] w-full max-h-[95%] max-w-md border-2 text-sm xl:text-md overflow-y-auto bg-black/90">
    <h2
        class="text-center relative mt-5 scroll-m-20 font-extrabold tracking-tight text-2xl mx-5 border-r-12 border-l-12 rounded-lg">
        @if (characterInfo()?.isLegendaryCharacter) {
        S. Atk Lv 1

        }@else {
        S. Atk Lv 1

        }
    </h2>
    <!-- Content -->
    <div class="relative m-auto">
        <!-- Super attack -->
        <div class="min-h-64 m-2 pb-2 rounded-md border super-attack">
            @if (superAttackInfo()?.superAttackName) {

            <h3 class="text-lg bg-[#09111d] m-3 p-2 -skew-x-10 text-center break-words">
                {{superAttackInfo()?.superAttackName}}</h3>
            } @else {
            <h3 class="text-lg bg-[#09111d] m-3 p-2 -skew-x-10 text-center text-red-500">No Super Attack Name</h3>

            }

            <!-- Ki meter -->
            <div class="flex items-center justify-around">
                <div class="flex flex-col items-center">
                    <p class="text-orange-500">ki</p>
                    <p class="-skew-x-10 bg-[#09111d] px-2">From 12</p>
                </div>

                <div class="flex items-end -skew-x-10 ">
                    <app-ki-meter [nbKi]="2" [bgColorClassName]="'bg-green-300'"
                        [heightClassName]="'h-3'"></app-ki-meter>
                    <app-ki-meter [nbKi]="9" [bgColorClassName]="'bg-yellow-300'"
                        [heightClassName]="'h-3'"></app-ki-meter>
                    <app-ki-meter [nbKi]="1" [bgColorClassName]="'bg-orange-300'"
                        [heightClassName]="'h-3'"></app-ki-meter>
                    @if (characterInfo()?.isLegendaryCharacter) {
                    <app-ki-meter [nbKi]="5" [bgColorClassName]="'bg-orange-300'"
                        [heightClassName]="'h-5'"></app-ki-meter>
                    <app-ki-meter [nbKi]="7" [bgColorClassName]="'bg-red-300'" [heightClassName]="'h-5'"></app-ki-meter>
                    }


                </div>
            </div>

            <!-- Special attack effect (description) -->
            <div class="flex flex-col mt-1">
                <p class="text-orange-500 ml-3">Super Attack Effect</p>
                <p class="-skew-x-10 bg-[#09111d] px-2 mx-3 break-words">
                    {{superAttackInfo()?.superAttackEffect}}
                </p>
            </div>

            <div class="flex items-center justify-around mt-2">
                <div class="flex flex-col items-center w-30">
                    <p class=" text-orange-500 ">S. Atk Lv</p>
                    @if (characterInfo()?.isLegendaryCharacter) {
                    <p class="-skew-x-10 bg-[#09111d] px-1">
                        From 20
                    </p>
                    }@else {
                    <p class="-skew-x-10 bg-[#09111d] px-4">
                        -
                    </p>
                    }

                </div>
                <div class="flex flex-col w-full">
                    <p class="text-orange-500 ml-10">Secondary Effect</p>
                    <p class="-skew-x-10 bg-[#09111d] px-1 mr-5 ml-10">
                        @if (characterInfo()?.isLegendaryCharacter) {
                        Super Attack power will be increased even more!
                        } @else {
                        None
                        }
                    </p>
                </div>
            </div>
        </div>

        <!-- ultra -->
        @if (characterInfo()?.isLegendaryCharacter) {
        <div class="min-h-64 m-2 pb-2 rounded-md border border-yellow-500 super-attack">
            @if (superAttackInfo()?.ultraSuperAttackName) {
            <h3 class="text-lg bg-[#09111d] m-3 p-2 -skew-x-10 text-center">{{superAttackInfo()?.ultraSuperAttackName}}
            </h3>
            }@else {
            <h3 class="text-lg bg-[#09111d] m-3 p-2 -skew-x-10 text-center text-red-500">No Ultra Super Attack Name</h3>

            }

            <!-- Ki meter -->
            <div class=" flex items-center justify-around">
                <div class="flex flex-col items-center">
                    <p class="text-orange-500">ki</p>
                    <p class="-skew-x-10 bg-[#09111d] px-2">From 18</p>
                </div>

                <div class="flex items-end -skew-x-10 ">
                    <app-ki-meter [nbKi]="2" [bgColorClassName]="'bg-green-300'"
                        [heightClassName]="'h-3'"></app-ki-meter>
                    <app-ki-meter [nbKi]="9" [bgColorClassName]="'bg-yellow-300'"
                        [heightClassName]="'h-3'"></app-ki-meter>
                    <app-ki-meter [nbKi]="1" [bgColorClassName]="'bg-orange-300'"
                        [heightClassName]="'h-3'"></app-ki-meter>
                    <app-ki-meter [nbKi]="5" [bgColorClassName]="'bg-orange-300'"
                        [heightClassName]="'h-5'"></app-ki-meter>
                    <app-ki-meter [nbKi]="7" [bgColorClassName]="'bg-red-300'" [heightClassName]="'h-5'"></app-ki-meter>
                </div>
            </div>

            <!-- Special attack effect (description) -->
            <div class="flex flex-col mt-1">
                <p class="text-orange-500 ml-3">Super Attack Effect</p>
                <p class="-skew-x-10 bg-[#09111d] px-2 mx-3 break-words">
                    {{superAttackInfo()?.ultraSuperAttackEffect}}
                </p>
            </div>

            <div class="flex items-center justify-around mt-2">
                <div class="flex flex-col items-center w-30">
                    <p class="text-orange-500 -ml-4">S. Atk Lv</p>
                    <p class="-skew-x-10 bg-[#09111d] px-1">From 20</p>
                </div>
                <div class="flex flex-col w-full">
                    <p class="text-orange-500 ml-10">Secondary Effect</p>
                    <p class="-skew-x-10 bg-[#09111d] px-1 mr-5 ml-10">Super Attack power will be increased even
                        more!
                    </p>
                </div>
            </div>
        </div>

        }
    </div>
    <button class="relative w-full flex justify-center items-center my-2 cursor-pointer" (click)="onClose()">
        <img src="./btn_ok.png" alt="OK" class="w-32">
    </button>
</section>