h2 {
    background: #85ff7a;
    background: linear-gradient(180deg, rgba(133, 255, 122, 1) 1%, rgba(10, 18, 12, 1) 53%, rgba(54, 199, 10, 1) 100%);
}

.super-attack {
    background: #122138;
}

.blue {
       background: #09111d;
}