<div [formGroupName]="controlKey()">
    <div class="flex flex-col gap-4 w-full" formArrayName="categories">
        @for (control of categories.controls; track control; let index = $index) {
        <div class="flex gap-2 items-center w-full">
            <div class="flex-1">
                <ng-select class="custom-select" [searchable]="true" [clearable]="true" [formControlName]="index"
                    placeholder="Select Category">
                    @for (category of categoryList$ | async; track $index) {
                    <ng-option [value]="category.value">{{category.categoryName}}</ng-option>
                    }
                </ng-select>
            </div>

            <button type="button"
                class="p-3 bg-red-900/30 border border-red-900/50 rounded hover:bg-red-900/50 text-red-400 transition-colors h-[42px] w-[42px] flex items-center justify-center"
                [disabled]="index === 0" [class.opacity-50]="index === 0" [class.cursor-not-allowed]="index === 0"
                (click)="removeCategory(index)">
                <ng-icon name="heroArchiveBoxXMark" class="h-5 w-5" />
            </button>
        </div>
        }

        <button type="button"
            class="mt-2 py-2 px-4 bg-gray-800 hover:bg-gray-700 border border-gray-600 rounded text-sm text-gray-300 w-full transition-colors flex items-center justify-center gap-2"
            (click)="addCategory()">
            <ng-icon name="heroPlus" class="h-4 w-4" />
            Add Category
        </button>
    </div>
</div>