<div class="flex flex-col h-full">
    <!-- Categories -->
    <div class="flex justify-between gap-4">
        <h5 class="text-orange-500 text-sm font-bold  flex flex-col items-center">
            Categorie
        </h5>
        <div class="mt-2 grid grid-cols-2 gap-2 flex-1">
            @for (category of fullCategoriesArray(); track $index) {
            <div
                class="rounded-md text-[10px] sm:text-md text-center border border-green-600 px-3 py-1 sm:w-auto bg-black text-yellow-300">
                {{category}}
            </div>
            }
        </div>
    </div>
</div>

<!-- <div class="z-10 relative mt-5">
    <span class="pl-6 text-orange-500 font-bold">Category</span>
    <div class="h-full mx-6 mt-2 grid grid-cols-2 gap-4 gap-1">
        @for (category of card().characterInfo?.categories; track $index) {
        <div
            class="rounded-md text-xs sm:text-md text-center border border-green-600 px-3 py-1 w-36 sm:w-auto bg-black  text-yellow-300">
            {{category}}
        </div>

        }


    </div>
</div> -->