<section class="absolute inset-0 z-50 m-5 border-2 rounded-md overflow-x-hidden overflow-y-auto">
    <div class="min-h-full bg-black/70 flex justify-center">
        <div class="relative w-[90%] p-4">
            <h2
                class="text-center relative scroll-m-20 font-extrabold tracking-tight text-2xl mx-5 border-r-12 border-l-12 rounded-lg">
                Domain Details
            </h2>
            <h3 class="text-2xl font-bold text-center my-2">{{ domain()?.domainName }}</h3>

            <img src="./Wasteland_29_Domain.webp" alt="Domain" class="mt-2">

            <div class="flex flex-col p-4 bg-black">
                <span class="font-bold text-orange-500">Domain Effect</span>
                <span>{{ domain()?.domainEffect }}</span>
            </div>
            <button class="w-full flex justify-center items-center mt-2 cursor-pointer" (click)="onClose()">
                <img src="./btn_ok.png" alt="OK" class="w-32">
            </button>
        </div>
    </div>
</section>