<div class="flex flex-col items-center justify-center gap-2">
    <!-- Passive skill -->
    <div class="flex items-center w-full">
        <!-- Title  -->
        <div class="w-20">
            <h5 class="text-orange-500 text-sm font-bold">Passive skill</h5>
        </div>
        <!-- Passive skill name and details -->
        <div class="flex flex-col w-full">
            <div class="ml-5 mr-10 md:h-7 h-5 bg-black italic overflow-hidden flex justify-between"
                style="transform: skewX(-10deg);">
                <p class="text-sm">Esprit et technique affutée
                </p>
                <button class="bg-green-600 cursor-pointer tracking-tight border-2 text-sm"
                    (click)="showFullPassiveDetails()" [disabled]="isPassiveDetailsModalOpen()">Details</button>
            </div>
            <div class="ml-5 mr-10 md:h-7 h-5 bg-black italic overflow-hidden flex" style=" transform: skewX(-10deg);">
                <p>Passive skill
                </p>
            </div>
        </div>
    </div>

    <!-- Passive details modal -->
    <ng-container #passiveDetailsModal />

    <!-- Active skill -->
    <div class="flex items-center w-full">
        <!-- Title  -->
        <div class="w-20">
            <h5 class="text-orange-500 text-sm font-bold">Active skill</h5>
        </div>
        <div class="flex flex-col w-full">
            <div class="ml-5 mr-10 h-5 bg-black italic overflow-hidden flex justify-between">
                <p class="text-sm">Défense et attaque augmentées
                </p>
                <button class="bg-green-600 cursor-pointer tracking-tight border-2 text-sm mr-2"
                    style="transform: skewX(-10deg);">Details</button>
            </div>
            <div class="ml-5 mr-10 h-5 bg-black italic overflow-hidden flex">
                <span class="text-orange-500 mr-1 text-sm">Condition</span>
                <p>Augmente fortement la défense et l'attaque ...
                </p>
            </div>
            <div class="ml-5 mr-10 h-5 bg-black italic overflow-hidden flex">
                <span class="text-orange-500 mr-1 text-sm">Effect</span>
                <p>Augmente fortement la défense et l'attaque ...
                </p>
            </div>
        </div>
    </div>

    <!-- Standby skill -->
    <div class="flex items-center w-full">
        <!-- Title  -->
        <div class="w-20">
            <h5 class="text-orange-500 text-sm font-bold">Standby skill</h5>
        </div>
        <!-- Passive skill name and details -->
        <div class="flex flex-col w-full">
            <div class="ml-5 mr-10 h-5 bg-black italic overflow-hidden flex justify-between">
                <p class="text-sm">Armure et santé augmentées
                </p>
                <button class="bg-green-600 cursor-pointer tracking-tight border-2 text-sm mr-2"
                    style="transform: skewX(-10deg);">Details</button>
            </div>
            <div class="ml-5 mr-10 h-5 bg-black italic overflow-hidden flex">
                <span class="text-orange-500 mr-1 text-sm">Condition</span>
                <p>Augmente fortement la santé et l'armure ...
                </p>
            </div>
            <div class="ml-5 mr-10 h-5 bg-black italic overflow-hidden flex">
                <span class="text-orange-500 mr-1 text-sm">Effect</span>
                <p>Augmente fortement la défense et l'attaque ...
                </p>
            </div>
        </div>
    </div>

</div>