<div class="flex flex-col items-center justify-center gap-2">
    <!-- Passive skill -->
    <div class="flex items-center w-full">
        <!-- Title  -->
        <div class="w-20">
            <h5 class="text-orange-500 text-sm font-bold">Passive skill</h5>
        </div>
        <!-- Passive skill name and details -->
        <div class="flex flex-col w-full">
            <div class="ml-5 mr-10 md:h-7 h-5 bg-black italic overflow-hidden flex justify-between"
                style="transform: skewX(-10deg);">
                <p class="text-sm">{{passiveName() ?? 'No passive name'}}
                </p>
                <button class="bg-green-600 cursor-pointer tracking-tight border-2 text-sm"
                    (click)="showFullPassiveDetails()" [disabled]="isAmodalOpen()">Details</button>
            </div>
            <div class="ml-5 mr-10 md:h-7 h-5 bg-black italic overflow-hidden flex" style=" transform: skewX(-10deg);">
                <p>-
                </p>
            </div>
        </div>
    </div>

    <!-- Passive details modal -->
    <ng-container #passiveDetailsModal />

    <!-- Active skill -->
    <div class="flex items-center w-full cursor-pointer relative" (mouseup)="hideActiveSkillDetails()"
        (mousedown)="showActiveSkillDetails()" (mouseleave)="hideActiveSkillDetails()"
        (touchstart)="showActiveSkillDetails()" (touchend)="hideActiveSkillDetails()">
        @if (isActiveSkillDetailsShown()) {
        <app-active-skill-details [activeSkill]="activeSkill()" />
        }
        <!-- Title  -->
        <div class="w-20">
            <h5 class="text-orange-500 text-sm font-bold">Active skill</h5>
        </div>
        <div class="flex flex-col w-full">
            <div class="ml-5 mr-10 h-5 bg-black italic overflow-hidden flex justify-between">
                @if (activeSkill()?.activeSkillName) {
                <p class="text-sm ml-1">{{activeSkill()?.activeSkillName}}
                </p>
                }@else {
                -
                }
            </div>
            <div class="ml-5 mr-10 h-5 bg-black italic overflow-hidden flex ml-2">
                <span class="text-orange-500 mr-1 text-sm ml-1">Condition</span>
                @if (activeSkill()?.activeSkillCondition) {
                <p>{{activeSkill()?.activeSkillCondition}}
                </p>
                }@else {
                -
                }
            </div>
            <div class="ml-5 mr-10 h-5 bg-black italic overflow-hidden flex ml-2">
                <span class="text-orange-500 mr-1 text-sm ml-1">Effect</span>
                @if (activeSkill()?.activeSkillEffect) {
                <p class="break-all">{{activeSkill()?.activeSkillEffect}}
                </p>
                }@else {
                -
                }
            </div>
        </div>
    </div>

    <!-- Standby skill -->
    <div class="flex items-center w-full">
        <!-- Title  -->
        <div class="w-20">
            <h5 class="text-orange-500 text-sm font-bold">Standby skill</h5>
        </div>
        <!-- Passive skill name and details -->
        <div class="flex flex-col w-full">
            <div class="ml-5 mr-10 h-5 bg-black italic overflow-hidden flex justify-between">
                <p class="text-sm">Coming soon</p>

            </div>
            <div class="ml-5 mr-10 h-5 bg-black italic overflow-hidden flex">
                <span class="text-orange-500 mr-1 text-sm">Condition</span>
                <p>-</p>
            </div>
            <div class="ml-5 mr-10 h-5 bg-black italic overflow-hidden flex">
                <span class="text-orange-500 mr-1 text-sm">Effect</span>
                <p>-</p>
            </div>
        </div>
    </div>

</div>