<button type="button" (click)="openModal()"
    class="flex items-center w-20 m-auto bg-gray-900 text-center z-40 top-1/2 left-1 transform -translate-y-1/2 bg-transparent cursor-pointer"
    ubButton size="icon">
    <ng-icon size="2em" name="heroMagnifyingGlassPlus" class="h-20 w-20" />
</button>
<div
    class="border-4 rounded-lg relative card-details overflow-x-hidden overflow-y-auto text-clip w-full mb-5 lg:mb-5 lg:w-[30%] lg:m-auto">
    <!-- Background -->
    <div class="absolute details top-0 left-0 w-full h-full bg-black blur-md opacity-50">
    </div>
    <!-- Arrow for switch between first and second part  -->
    @if (showedPart() > 1) {
    <button (click)="showPreviousPart()" type="button"
        class="h-12 w-5 absolute z-40 top-1/2 left-1 transform -translate-y-1/2 bg-transparent hover:bg-black cursor-pointer"
        ubButton size="icon">
        <ng-icon name="heroChevronDoubleLeft" class="h-4 w-4" />
    </button>

    }
    @if (showedPart() < 3) { <button (click)="showNextPart()" type="button"
        class="h-12 w-5 absolute z-40 z-10 absolute top-1/2 right-1 transform -translate-y-1/2 bg-transparent hover:bg-black cursor-pointer"
        ubButton size="icon">
        <ng-icon name="heroChevronDoubleRight" class="h-4 w-4" />
        </button>
        }

        <!-- Title -->
        <h2
            class="text-center relative mt-5 scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-3xl  mx-5 rounded-lg">
            {{title()}}</h2>

        @switch (showedPart()) {
        @case (1) {
        <section class="mb-5">
            <!-- ATK, DEF & HP -->
            <div class="flex items-center justify-center gap-1 p-2 z-10 relative text-center px-6">
                <span class="bg-red-500 flex-1 rounded-sm">{{characterInfo()?.stats?.attack}} ATK</span>
                <span class="bg-blue-500 flex-1 rounded-sm">{{characterInfo()?.stats?.defense}} DEF</span>
                <span class="bg-green-500 flex-1 rounded-sm">{{characterInfo()?.stats?.hp}} HP</span>

            </div>

            <!-- Lvl - XP - Cost -->
            <div class="flex items-center relative z-10 ">
                <span class="px-6 text-3xl text-orange-500">Lv</span>
                <span class="text-3xl">{{characterInfo()?.isLegendaryCharacter ? '150/150' : '120/120'}}</span>
                <div class="w-72 h-3 mx-2 bg-yellow-300 italic" style="transform: skewX(-10deg);"></div>
                <div class="flex flex-col items-center text-sm mr-2">
                    <span class="italic text-yellow-300 font-extrabold">COST</span>
                    <span class="font-extrabold">77</span>
                </div>
            </div>

            <!-- Leader -->

            <div class="z-10 relative flex items-center justify-center">
                <span class="pl-6 italic text-orange-500 w-20">
                    Leader<span class="block -mt-2">skill</span>
                </span>
                <div class="w-full p-2 mx-7 bg-black flex items-center justify-center"
                    style="transform: skewX(-10deg);">
                    @if (characterInfo()?.leaderSkill) {
                    {{characterInfo()?.leaderSkill}}
                    }
                </div>
            </div>

            <!-- Super ATK -->
            <div class="z-10 relative flex items-center justify-center my-5">
                <div class="pl-6 w-20">
                    <span class="italic text-orange-500">
                        Super ATK Lv
                    </span>
                    <div class="bg-black w-11" style="transform: skewX(-10deg);">
                        @if (characterInfo()?.isLegendaryCharacter) {
                        <span class="text-yellow-300">20</span>/20
                        }@else {
                        <span class="text-yellow-300">10</span>/10
                        }
                    </div>
                </div>
                <div class="w-full p-2 mx-7 bg-black flex items-center flex-col justify-center"
                    style="transform: skewX(-10deg);">
                    @if (characterInfo()?.superAttackName) {
                    <div class="bg-black border-b w-full text-center flex justify-between"
                        style="transform: skewX(-10deg);">
                        {{characterInfo()?.superAttackName}}
                        <button (click)="openSuperAttackDetails()"
                            class="bg-green-600 px-1 mb-1 cursor-pointer font-extrabold tracking-tight border-2">Details</button>
                    </div>
                    }
                    {{characterInfo()?.superAttack}}
                </div>

            </div>
            <ng-container #sadetails />

            <!-- Ultra super attack -->

            <!-- @if (characterInfo()?.isLegendaryCharacter) {
            <div class="z-10 relative flex items-center justify-center">
                <div class="pl-6 w-20">
                    <span class="italic text-orange-500">
                        Ultra Super ATK Lv
                    </span>
                    <div class="bg-black w-11" style="transform: skewX(-10deg);">
                        <span class="text-yellow-300">20</span>/20
                    </div>

                </div>
                <div class="w-full p-2 mx-7 bg-black flex flex-col items-center justify-center"
                    style=" transform: skewX(-10deg);">
                    @if (characterInfo()?.ultraSuperAttackName) {
                    <div class="bg-black border-b w-full text-center" style="transform: skewX(-10deg);">
                        {{characterInfo()?.ultraSuperAttackName}}
                    </div>
                    }
                    {{characterInfo()?.ultraSuperAttack}}
                </div>

            </div>
            } -->
            <!-- Linkset -->
            <div class="z-10 relative mt-5 ">
                <span class="pl-6 italic text-orange-500">Link skill</span>
                <div class="h-full mx-6 mt-2 grid grid-cols-2 gap-4 gap-1">
                    @for (link of characterInfo()?.links; track $index) {
                    <div
                        class="rounded-md text-xs sm:text-md text-center border border-green-600 px-3 py-1 w-36 sm:w-auto bg-black">
                        {{link}}
                    </div>

                    }


                </div>
            </div>


        </section>
        }
        @case (2) {
        <section>
            <div class="z-10 relative mt-5">
                <span class="pl-6 italic text-orange-500">Category</span>
                <div class="h-full mx-6 mt-2 grid grid-cols-2 gap-4 gap-1">
                    @for (category of characterInfo()?.categories; track $index) {
                    <div
                        class="rounded-md text-xs sm:text-md text-center border border-green-600 px-3 py-1 w-36 sm:w-auto bg-black  text-yellow-300">
                        {{category}}
                    </div>

                    }


                </div>
            </div>

            <!-- Categories -->
        </section>
        }
        @case (3) {
        @if (passiveDetails()?.name) {
        <div class="z-10 mt-2 relative flex pl-7 pt-7">
            <span class="italic text-orange-500">
                Name
            </span>
            <div class="p-2 w-full mx-20 m-auto bg-black" style="transform: skewX(-10deg);">
                <h4 class="text-center text-xl">{{passiveDetails()?.name}}</h4>
            </div>
        </div>
        }
        <div class="relative z-10 flex flex-col w-full p-7">
            @for (part of passiveDetails()?.passive; track $index) {
            <div class="flex flex-col">
                <h3 class="text-orange-500 text-xl mt-2">{{part.passiveConditionActivation}}</h3>
                <ul class="ml-5 flex flex-col w-full">
                    @for (effect of part.effect; track $index) {
                    <li class="flex items-center break-all ">
                        {{'- ' + effect.description}}
                        @if (effect.imageSrc) {
                        <img [src]="effect.imageSrc" alt="effect duration logo">
                        }
                    </li>

                    }
                </ul>

            </div>
            }
            <!-- Active skill -->
            @if (characterInfo()?.activeSkill) {
            <div class="z-10 mt-2 relative flex justify-center">
                <span class="italic text-orange-500">
                    Active<span class="block -mt-2">skill</span>
                </span>
                <div class="w-full p-2 mx-10 bg-black flex flex-col justify-center" style="transform: skewX(-10deg);">
                    <div class="border-b text-center italic">{{characterInfo()?.activeSkill?.activeSkillName}}</div>
                    <div class="flex">
                        <span class="italic text-orange-500 mr-1">Condition(s)</span>
                        <span>{{characterInfo()?.activeSkill?.activeSkillCondition}}</span>
                    </div>
                    <div>
                        <span class="italic text-orange-500 mr-1">Effect(s)</span>
                        <span>{{characterInfo()?.activeSkill?.activeSkillEffect}}</span>
                    </div>


                </div>
            </div>

            }
        </div>
        }
        }




</div>

<ng-container #modal />