<h1 class="text-center mt-5 scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">Create your passive</h1>

<form (ngSubmit)="onSubmit()" class="flex flex-col my-5" [formGroup]="form">

  <div class="flex flex-col p-10 w-full " formArrayName="passivePart">
    @for (control of this.getPassiveParts().controls; track control; let index = $index)
    {
    <div class="flex flex-col m-auto w-full px-20 py-10 mt-5 border rounded-lg border-white" [formGroupName]="index">
      <label class="my-2 scroll-m-20 text-1xl font-extrabold tracking-tight lg:text-md" oriLabel>Passive
        Condition
        Activation</label>
      <select class="my-2" formControlName="passiveConditionActivation">
        @for (effect of passiveConditionActivation; track $index) {
        <option class="bg-black" [value]="effect.value">{{effect.effect}}</option>
        }

      </select>
      <div class="flex gap-1 flex-col" formArrayName="effect">
        @for (control of this.getPassiveEffects(index).controls; track control; let index2 = $index)
        {
        <div [formGroupName]="index2">
          <label class="scroll-m-20 text-1xl font-extrabold tracking-tight lg:text-md" oriLabel>Effect</label>
          <div class="flex flex-1 gap-1 items-center">
            <input class="my-2 flex-1 pl-2" formControlName="effectDescription" placeholder="ATK & DEF + 200% ..." />
            <select class="bg-yellow-400 text-xl text-black text-center" formControlName="effectDuration" id="">
              @for (duration of effectDuration; track $index) {
              <option class="bg-yellow-400" [value]="duration.value">
                {{duration.duration}}
              </option>
              }

            </select>
            <button [disabled]="index2 === 0" (click)="removePassiveEffect(index, index2)" ubButton
              variant="destructive" size="icon">
              <ng-icon name="heroArchiveBoxXMark" class="h-4 w-4" />
            </button>

          </div>

        </div>

        }
        <div class="flex">
          <button type="button" ubButton class="w-28 m-auto my-5" (click)="addPassiveEffect(index)">Add New
            effect</button>
          <button type="button" ubButton variant="destructive" class="w-24 m-auto mt-5"
            (click)="removePassivePart(index)">Remove
            Part</button>

        </div>

      </div>
    </div>


    }
    <button type="button" ubButton class="bg-green-900 hover:bg-green-800 w-46 m-auto my-5"
      (click)="AddPassivePart()">Add new Passive
      Part</button>

  </div>
  <button type="submit" class="w-96 m-auto bg-white text-black hover:text-white" ubButton>Create</button>
</form>

<router-outlet />

<div class=" border-4 rounded-lg m-auto mb-10 relative card-details">
  <h2 class="text-center mt-5 scroll-m-20 text-4xl font-extrabold  tracking-tight lg:text-3xl  mx-5 rounded-lg">
    Passive
    Skill
    details</h2>
  <!-- Background -->
  <div class="absolute details top-0 left-0 w-full h-full bg-black blur-md opacity-50"></div>

  <!-- Content -->
  <div class="relative z-10 flex flex-col p-7">
    @for (part of passiveDetails(); track $index) {
    <div class="flex flex-col">
      <h3 class="text-orange-500 text-xl mt-2">{{part.passiveConditionActivation}}</h3>
      <ul class="ml-5 flex flex-col inline">
        @for (effect of part.effect; track $index) {
        <li class="flex items-center">
          {{'- ' + effect.description}}
          <img class="" [src]="effect.imageSrc" alt="">
        </li>

        }
      </ul>

    </div>
    }
  </div>
</div>