
.passive-part {
     background: #141414;
background: radial-gradient(circle, rgba(20, 20, 20, 1) 75%, rgba(5, 4, 4, 1) 98%);
}

select, input {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
}
.select option {
    display: flex;
    width: 100px;
      background: #141414;
   
}
.ng-select.duration ::ng-deep .ng-select-container   {
    background: #141414;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 95px;
   
}
.ng-select.duration ::ng-deep .ng-option{
       background: #141414;
        display: flex;
    align-items: center;
    justify-content: center;
 
    }
.ng-select.duration ::ng-deep .ng-option-selected {
       background: #141414 !important;
    }

button {
    cursor: pointer;
}

input::placeholder {
    color: gray;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}


