.passive-part {
     background: #141414;
background: radial-gradient(circle, rgba(20, 20, 20, 1) 75%, rgba(5, 4, 4, 1) 98%);
}

select, input {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
}
.select option {
    display: flex;
    width: 100px;
      background: #141414;
   
}


.select img {
    width: 30px;
}

button {
    cursor: pointer;
}

input::placeholder {
    color: gray;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}
