<div [formGroupName]="controlKey()" class="flex flex-col  gap-1 lg:px-20 mt-5 mb-10">
    <div class="flex flex-col flex-1 relative lg:px-10">
        <label class="my-2 scroll-m-20 text-1xl font-extrabold tracking-tight lg:text-md" for="superAttackName">Super
            Attack Name</label>
        <input placeholder="Divine Dance of Fire ..." class="pl-2" id="superAttackName"
            formControlName="superAttackName" type="text">
    </div>
    <div class="flex flex-col flex-1 relative lg:px-10">
        <label class="my-2 scroll-m-20 text-1xl font-extrabold tracking-tight lg:text-md" for="superAttack">Super
            Attack</label>
        <input placeholder="Greatly raises ATK & DEF and causes colossal damage to enemy ..." class="pl-2"
            id="superAttack" formControlName="superAttackEffect" type="text">
        @if (parentFormGroup.get('superAttack.superAttackEffect')?.dirty &&
        parentFormGroup.get('superAttack.superAttackEffect')?.getError('required')) {
        <app-error errorMessage="super attack field required" />
        }
    </div>

    @if (isLegendaryCharacter()) {
    <div class="flex flex-col flex-1 relative lg:px-10">
        <label class="my-2 scroll-m-20 text-1xl font-extrabold tracking-tight lg:text-md mt-5"
            for="ultraSuperAttackName">Ultra
            Super
            Attack Name</label>
        <input placeholder="Kamehameha & Big Bang Attack ..." class="pl-2" id="ultraSuperAttackName"
            formControlName="ultraSuperAttackName" type="text">
        @if ( parentFormGroup.get('superAttack.ultraSuperAttackName')?.dirty &&
        parentFormGroup.get('superAttack.ultraSuperAttackName')?.getError('required')) {
        <app-error errorMessage="super attack name field required" />
        }
        <label class="my-2 scroll-m-20 text-1xl font-extrabold tracking-tight lg:text-md" for="ultraSuperAttack">Ultra
            Super
            Attack</label>
        <input placeholder="Greatly raises ATK & DEF and causes mega-colossal damage to enemy ..." class="pl-2"
            id="ultraSuperAttack" formControlName="ultraSuperAttackEffect" type="text">
        @if (parentFormGroup.get('superAttack.ultraSuperAttackEffect')?.dirty &&
        parentFormGroup.get('superAttack.ultraSuperAttackEffect')?.hasError('ultraSuperAttackRequired')) {
        <app-error errorMessage="Ultra super attack field is required for legendary character" />
        }
    </div>
    }

</div>