<div class="mb-10" [formGroupName]="controlKey()">
    <div class="w-full flex flex-col lg:px-10 w-full">
        <label class="my-2 scroll-m-20 text-1xl font-extrabold tracking-tight lg:text-md lg:ml-20"
            for="passiveName">Passive
            Name</label>
        <input placeholder="Super Saiyan God Duo ..." class="pl-2 lg:mx-20" id="passiveName"
            formControlName="passiveName" type="text">

    </div>
    <div class="flex flex-col lg:px-10 w-full" formArrayName="passivePart">
        @for (control of this.passiveParts.controls; track control; let index = $index)
        {
        <div class="flex flex-col m-auto w-full lg:px-20  mt-5" [formGroupName]="index">
            <label class="my-2 scroll-m-20 text-1xl font-extrabold tracking-tight lg:text-md" oriLabel>Passive
                Condition
                Activation</label>
            <ng-select (change)="onOptionChange($event, index)" class="my-2 select ng-select"
                formControlName="passiveConditionActivation">
                @for (effect of passiveConditionActivation; track $index) {
                <ng-option [value]="effect.value">{{effect.effect}}</ng-option>
                }
                <ng-option value="custom">--- Custom condition ---</ng-option>
            </ng-select>
            @if (isCustomConditionSelected(index)) {
            <div class="flex gap-1 flex-col my-2">
                <label class="my-2 scroll-m-20 text-1xl font-extrabold tracking-tight lg:text-md"
                    for="customPassiveConditionActivation">Custom condition ?</label>
                <input placeholder="Custom condition ..." class="pl-2" id="customPassiveConditionActivation"
                    formControlName="customPassiveConditionActivation" type="text">
            </div>
            }
            <div class="flex gap-5  flex-col my-2" formArrayName="effect">
                @for (control of getPassiveEffects(index).controls; track $index; let index2 = $index)
                {
                <div [formGroupName]="index2">
                    <label class="scroll-m-20 text-1xl font-extrabold tracking-tight lg:text-md" oriLabel>Effect</label>
                    <div class="flex flex-1 gap-1 items-center justify-center">
                        <div class="flex-1">
                            <input class="mt-2 w-full pl-2" formControlName="effectDescription"
                                placeholder="ATK & DEF + 200% ..." />
                            @if (getPassiveEffects(index).controls[index2].get('effectDescription')?.dirty &&
                            getPassiveEffects(index).controls[index2].get('effectDescription')?.getError('required'))
                            {
                            <app-error errorMessage="Effect field required" />
                            }

                        </div>
                        <ng-select [clearable]="false" [searchable]="false" class="mt-2 w-20 ng-select"
                            formControlName="effectDuration" id="">
                            @for (duration of effectDuration; track $index) {
                            <ng-option [value]="duration.value">
                                @if (duration.icon === "None") {
                                None
                                } @else {

                                <img [src]="duration.icon" alt="">
                                }
                            </ng-option>
                            }

                        </ng-select>
                        <button type="button" class="h-12 w-10 mt-2" [disabled]="index2 === 0"
                            (click)="removePassiveEffect(index, index2)" ubButton variant="destructive" size="icon">
                            <ng-icon name="heroArchiveBoxXMark" class="h-4 w-4" />
                        </button>

                    </div>

                </div>

                }
                <div class="flex">
                    <button type="button" ubButton class="w-28 m-auto my-5 bg-white text-black hover:text-white"
                        (click)="addPassiveEffect(index)">Add New
                        effect</button>
                    <button [disabled]="index === 0" type="button" ubButton variant="destructive"
                        class="w-24 m-auto mt-5" (click)="removePassivePart(index)">Remove
                        Part</button>

                </div>

            </div>
        </div>


        }
        <button type="button" ubButton class="bg-green-900 hover:bg-green-800 lg:w-96 w-full m-auto my-5"
            (click)="addPassivePart()">Add new Passive
            Part</button>



    </div>

</div>