
/* ng-select custom style */
.ng-select.ng-select ::ng-deep .ng-select-container {
   background: #141414;
   height: 50px;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
}
.ng-select.ng-select ::ng-deep .ng-option{
      background: #141414;
       display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   }


button {
   cursor: pointer; 
}








