
.details {
    background: #1a1818;
}

.card-details {
    height: 700px;

}

.card-details > h2 {
    background: #85ff7a;
    background: linear-gradient(180deg, rgba(133, 255, 122, 1) 1%, rgba(10, 18, 12, 1) 53%, rgba(54, 199, 10, 1) 100%);
}



  
  
  
  