<!-- Global card container  -->
<main
    class="relative w-full mb-5 lg:mb-5 md:w-[50%] xl:w-[30%] md:m-auto h-[700px] border rounded-lg flex flex-col justify-end overflow-hidden">
    <!-- Background Artwork -->
    <div class="absolute inset-0 z-0 card-root">
        @if (card().artwork) {
        <img [ngSrc]="imgUrl()" alt="Card Artwork" fill class="object-cover" priority>
        } @else {
        <img [ngSrc]="'/com_bg.png'" alt="Card Artwork" fill class="object-cover" priority>
        <!-- <img [src]="imgUrl()" alt="Card Artwork"
            class="z-10 absolute top-15 left-1/2 -translate-x-1/2  max-w-[350px] max-h-[350px] rounded-lg"
            (load)="onImageLoad($event)"> -->
        }
    </div>

    <!-- Card rarity and type icons -->
    <section class="absolute top-0 left-0 right-0 z-10 p-2 h-[380px]">
        <app-card-header [card]="card()" [isAmodalOpen]="isAmodalOpen()"
            (openDomainDetailsModal)="onDomainDetailsModalOpen()" />
    </section>

    <!-- Stats section -->
    <section
        class="h-[300px] border border-green-500 bg-green-700/50 m-2 rounded-lg relative z-10 flex flex-col justify-start pt-5 gap-4 px-2">
        <div class="flex-1 ">
            @switch (displayedParts()) {
            @case ('stats') {
            <!-- Stats - Lv - Leader skill - Special attack -->
            @if (card().characterInfo?.stats) {
            <app-card-stats-part [stats]="card().characterInfo?.stats"
                [isLegendaryCharacter]="card().characterInfo?.isLegendaryCharacter ?? false"
                [superAttackInfo]="card().superAttackInfo" [leaderSkill]="card().characterInfo?.leaderSkill ?? ''"
                [characterInfo]="card().characterInfo" [isAmodalOpen]="isAmodalOpen()"
                (openSuperAttackDetails)="onSuperAttackDetailsModalOpen()" />
            }
            }
            @case ('passive') {
            <!-- Passive - Active skill - Domain -->
            <app-card-passive-part [activeSkill]="card().characterInfo?.activeSkill" [isAmodalOpen]="isAmodalOpen()"
                (openPassiveDetailsModal)="onPassiveDetailsModalOpen()" [passiveName]="card().passiveDetails?.name" />
            }

            @case ('links') {
            <app-card-links-part [links]="card().characterInfo?.links ?? []" />
            }
            @case ('categories') {
            <app-card-categories-part [categories]="card().characterInfo?.categories ?? []" />
            }
            }
        </div>
        <!-- buttons -->
        <app-card-footer [(showedParts)]="showedParts" [(displayedPartsIndex)]="displayedPartsIndex" />
    </section>
    <ng-container #globalModal />
</main>