<div class="relative w-full mb-5 lg:mb-5 lg:w-[50%] xl:w-[30%] lg:m-auto">
    <ng-container #domainModal />

    <div class="absolute -top-5 right-0 z-50 flex gap-1">
        <!-- Logo de rareté (LR/UR) -->
        <img [ngSrc]="'/' + (card().characterInfo?.isLegendaryCharacter ? 'cha_rare_sm_lr.png' : 'cha_rare_sm_ur.png')"
            [alt]="card().characterInfo?.isLegendaryCharacter ? 'LR' : 'UR'" width="40" height="40"
            class="object-contain">
        <!-- Logo de classe et type -->
        <img [ngSrc]="'/' + card().characterInfo?.class + card().characterInfo?.type + '.png'"
            [alt]="card().characterInfo?.class + ' ' + card().characterInfo?.type" width="40" height="40"
            class="object-contain">
    </div>
    <div class="border-4 rounded-lg relative card-details overflow-x-hidden overflow-y-auto text-clip">
        <!-- Arrow for switch between first and second part  -->
        @if (showedPart() > 1) {
        <button (click)="showPreviousPart()" type="button"
            class="h-12 w-5 absolute z-40 top-1/2 left-1 transform -translate-y-1/2 bg-transparent hover:bg-black cursor-pointer"
            ubButton size="icon">
            <ng-icon name="heroChevronDoubleLeft" class="h-4 w-4" />
        </button>

        }
        @if (showedPart() < 4) { <button (click)="showNextPart()" type="button"
            class="h-12 w-5 absolute z-40 z-10 absolute top-1/2 right-1 transform -translate-y-1/2 bg-transparent hover:bg-black cursor-pointer"
            ubButton size="icon">
            <ng-icon name="heroChevronDoubleRight" class="h-4 w-4" />
            </button>
            }

            <!-- Title -->
            <h2
                class="text-center relative mt-5 scroll-m-20 text-2xl font-extrabold tracking-tight lg:text-3xl mx-5 rounded-lg">
                {{title()}}</h2>

            @switch (showedPart()) {
            @case (1) {
            <section class="mb-5">
                <!-- ATK, DEF & HP -->
                <div class="flex items-center justify-center gap-1 p-2 z-10 relative text-center px-6">
                    <span class="bg-red-500 flex-1 rounded-sm">{{card().characterInfo?.stats?.attack}} ATK</span>
                    <span class="bg-blue-500 flex-1 rounded-sm">{{card().characterInfo?.stats?.defense}} DEF</span>
                    <span class="bg-green-500 flex-1 rounded-sm">{{card().characterInfo?.stats?.hp}} HP</span>

                </div>

                <!-- Lvl - XP - Cost -->
                <div class="flex items-center relative z-10 ">
                    <span class="px-6 text-3xl text-orange-500 font-bold">Lv</span>
                    <span class="text-3xl">{{card().characterInfo?.isLegendaryCharacter ? '150/150' : '120/120'}}</span>
                    <div class="w-72 h-3 mx-2 bg-yellow-300 italic" style="transform: skewX(-10deg);"></div>
                    <div class="flex flex-col items-center text-sm mr-2">
                        <span class="italic text-yellow-300 font-extrabold">COST</span>
                        <span class="font-extrabold">77</span>
                    </div>
                </div>

                <!-- Leader -->

                <div class="z-10 relative flex items-center justify-center">
                    <span class="pl-6 font-bold text-orange-500 w-20">
                        Leader<span class="block -mt-2">skill</span>
                    </span>
                    <div class="w-full p-2 mx-7 bg-black flex items-center justify-center"
                        style="transform: skewX(-10deg);">
                        @if (card().characterInfo?.leaderSkill) {
                        {{card().characterInfo?.leaderSkill}}
                        }
                    </div>
                </div>


                <!-- Super ATK -->
                <div class="z-10 relative flex items-center justify-center my-5">
                    <div class="pl-6 w-20">
                        <span class="font-bold text-orange-500">
                            Super ATK Lv
                        </span>
                        <div class="bg-black w-11" style="transform: skewX(-10deg);">
                            @if (card().characterInfo?.isLegendaryCharacter) {
                            <span class="text-yellow-300">20</span>/20
                            }@else {
                            <span class="text-yellow-300">10</span>/10
                            }
                        </div>
                    </div>
                    <div class="w-full p-2 mx-7 bg-black flex items-center flex-col justify-center"
                        style="transform: skewX(-10deg);">
                        <div class="bg-black border-b w-full text-center flex justify-between"
                            style="transform: skewX(-10deg);">
                            @if (card().superAttackInfo?.superAttackName) {
                            {{card().superAttackInfo?.superAttackName}}
                            }@else {
                            <span class="text-sm lg:text-md text-red-500">No Super Attack Name</span>
                            }
                            <button (click)="openSuperAttackDetails()"
                                class="bg-green-600 px-1 mb-1 cursor-pointer font-extrabold tracking-tight border-2">Details</button>
                        </div>
                        {{card().superAttackInfo?.superAttackEffect}}
                    </div>

                </div>
                <ng-container #sadetails />

                <!-- Ultra super attack -->

                <!-- @if (characterInfo()?.isLegendaryCharacter) {
            <div class="z-10 relative flex items-center justify-center">
                <div class="pl-6 w-20">
                    <span class="italic text-orange-500">
                        Ultra Super ATK Lv
                    </span>
                    <div class="bg-black w-11" style="transform: skewX(-10deg);">
                        <span class="text-yellow-300">20</span>/20
                    </div>

                </div>
                <div class="w-full p-2 mx-7 bg-black flex flex-col items-center justify-center"
                    style=" transform: skewX(-10deg);">
                    @if (characterInfo()?.ultraSuperAttackName) {
                    <div class="bg-black border-b w-full text-center" style="transform: skewX(-10deg);">
                        {{characterInfo()?.ultraSuperAttackName}}
                    </div>
                    }
                    {{characterInfo()?.ultraSuperAttack}}
                </div>

            </div>
            } -->
                <!-- Linkset -->
                <div class="z-10 relative mt-5 ">
                    <span class="pl-6 text-orange-500 font-bold">Link skill</span>
                    <div class="h-full mx-6 mt-2 grid grid-cols-2 gap-4 gap-1">
                        @for (link of card().characterInfo?.links; track $index) {
                        <div
                            class="rounded-md text-xs sm:text-md text-center border border-green-600 px-3 py-1 w-36 sm:w-auto bg-black">
                            {{link}}
                        </div>

                        }


                    </div>
                </div>


            </section>
            }
            @case (2) {
            <!-- Categories -->

            <section>
                <div class="z-10 relative mt-5">
                    <span class="pl-6 text-orange-500 font-bold">Category</span>
                    <div class="h-full mx-6 mt-2 grid grid-cols-2 gap-4 gap-1">
                        @for (category of card().characterInfo?.categories; track $index) {
                        <div
                            class="rounded-md text-xs sm:text-md text-center border border-green-600 px-3 py-1 w-36 sm:w-auto bg-black  text-yellow-300">
                            {{category}}
                        </div>

                        }


                    </div>
                </div>

            </section>
            }
            @case (3) {
            <!-- Passive -->
            @if (card().passiveDetails?.name) {
            <div class="z-10 mt-2 relative flex items-center pl-7 pt-7">
                <span class="font-bold text-orange-500">
                    Name
                </span>
                <h4 style="transform: skewX(-10deg);" class="text-center text-xl bg-black px-10 py-1 m-auto">
                    {{card().passiveDetails?.name}}</h4>

            </div>

            }
            <div class="relative z-10 flex flex-col w-full p-7">

                @for (part of card().passiveDetails?.passive; track $index) {
                <div class="flex flex-col">
                    <h3 class="text-orange-500 text-lg mt-2">{{part.passiveConditionActivation}}</h3>
                    <ul class="ml-5 flex flex-col list-disc w-full">
                        @for (effect of part.effect; track $index) {
                        <li class="break-all">
                            {{effect.description}}
                            @if (effect.imageSrc) {
                            <img class="inline-block" [src]="effect.imageSrc" alt="effect duration logo">
                            }
                        </li>

                        }
                    </ul>

                </div>
                }
                <!-- Active skill -->
                @if (card().characterInfo?.activeSkill) {
                <div class="z-10 mt-10 relative flex justify-center">
                    <span class="font-bold text-orange-500 w-20">
                        Active<span class="block -mt-2">skill</span>
                    </span>
                    <div class="w-full p-2 mx-10 bg-black flex flex-col justify-center min-h-[120px]"
                        style="transform: skewX(-10deg);">
                        <div class="border-b text-center italic">{{card().characterInfo?.activeSkill?.activeSkillName}}
                        </div>
                        <div class="flex">
                            <span class="font-bold text-orange-500 mr-1">Condition(s)</span>
                            <span>{{card().characterInfo?.activeSkill?.activeSkillCondition}}</span>
                        </div>
                        <div>
                            <span class="font-bold text-orange-500 mr-1">Effect(s)</span>
                            <span>{{card().characterInfo?.activeSkill?.activeSkillEffect}}</span>
                        </div>


                    </div>
                </div>

                }

                @if (card().characterInfo?.domain) {
                <div class="z-10 mt-10 relative flex items-center">
                    <span class="font-bold text-orange-500 w-20">
                        Domain
                    </span>
                    <div class="w-full flex justify-center items-center min-h-[120px]">
                        <img src="/com_btn_dokkan_field.png" alt="Leader skill" class="w-20 h-20"
                            (click)="openDomainModal()">
                    </div>
                    <!-- <div class="w-full p-2 mx-10 bg-black flex flex-col justify-center min-h-[120px]"
                        style="transform: skewX(-10deg);">
                        <div class="border-b text-center italic">{{card().characterInfo?.domain?.domainName}}
                        </div>

                        <div>
                            <span class="italic text-orange-500 mr-1">Effect</span>
                            <span>{{card().characterInfo?.domain?.domainEffect}}</span>
                        </div>


                    </div> -->
                </div>

                }

            </div>
            }
            @case(4) {
            <section class="mt-5 flex justify-center items-center h-[calc(100%-80px)] p-4 relative">
                @if (card().artwork) {
                <img [ngSrc]="apiUrl + card().artwork" alt="Card Artwork" fill class="object-contain" priority>
                } @else {
                <div class="w-full h-full bg-gray-900/50 rounded-lg flex justify-center items-center">
                    <span class="text-gray-400">No Artwork</span>
                </div>
                }
            </section>
            }
            }




    </div>
</div>

<ng-container #modal />

<!-- New UI for card  -->

<!-- Global card container  -->
<main
    class="relative w-full mb-5 lg:mb-5 md:w-[50%] xl:w-[30%] md:m-auto h-[700px] border rounded-lg flex flex-col justify-end overflow-hidden">
    <!-- Background Artwork -->
    <div class="absolute inset-0 z-0">
        @if (true) {
        <img [ngSrc]="'/' + 'placeholder_bg.jpeg'" alt="Card Artwork" fill class="object-cover" priority>
        } @else {
        <div class="w-full h-full bg-gray-900/50 flex justify-center items-center">
            <span class="text-gray-400">No Artwork</span>
        </div>
        }
    </div>

    <!-- Card rarity and type icons -->
    <section class="absolute top-0 left-0 right-0 z-10 p-2 h-[380px]">
        <app-card-header [card]="card()" />
    </section>

    <!-- Stats section -->
    <section
        class="h-[300px] border border-green-500 bg-green-700/50 m-2 rounded-lg relative z-10 flex flex-col justify-start pt-5 gap-4 px-2">
        <div class="flex-1 overflow-hidden">
            @switch (displayedParts()) {
            @case ('stats') {
            <!-- Stats - Lv - Leader skill - Special attack -->
            <app-card-stats-part />

            }
            @case ('passive') {
            <!-- Passive - Active skill - Domain -->
            <app-card-passive-part />
            }

            @case ('links') {
            <app-card-links-part [links]="card().characterInfo?.links ?? []" />
            }
            @case ('categories') {
            <div>Categories</div>
            }
            }
        </div>
        <!-- buttons -->
        <app-card-footer [(showedParts)]="showedParts" [(displayedPartsIndex)]="displayedPartsIndex" />
    </section>






</main>